*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-container{
    width: 340px;
    height: 250px;
    padding: 30px;
    background-color: #e2e2e2;
    text-align: center;
    border-radius: 15px;
}
h1{
    font-size: 40px;
    color: black;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
button{
    padding: 15px;
    font-size: 21px;
    background-color: #b9b9b9;
    border: none;
    border-radius: 19px;
    margin-top: 19px;
}
button:hover{
    cursor: pointer;
}
.count-clr{
    color: red;
}
.count-color{
    color: black;
}